body{
    background-color: blue;
    margin: 0%;
    padding: 0%;
    align-content: center;
}

.main{
    background-color: red;
    width: 99vw;
    height:95vh; 
    margin: auto;
    align-content: center;
    border-radius: 20px;
}

.box{
    width: 60vw;
    height: 60vh;
    background-color: green;
    margin: auto;
    align-content: center;
    border-radius: 20px;
}

.box p{
    color: aliceblue;
    border: 2px black;
    
}